:root {
  --primary-text-color: #434455;
  --title-text-color: #2e2f42;
  --accent-color: #4d5ae5;
  --hero-text-color: #ffffff;
  --team-color: #f4f4fd;
  --primary-color: #404bbf;
  --subtle-color: #e7e9fc;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

h1 {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
}
h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  color: var(--title-text-color);
}
h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;

  color: var(--title-text-color);
}
ul {
  list-style-type: none;
}
.container {
  width: ;
}
/* links */

.link {
  text-decoration: none;
  color: var(--nav-active-color);
}
.link:hover,
.link:focus {
  color: var(--primary-color);
}

/* button */

.btn {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
}

/* logo */
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--accent-color);
}
.header {
  color: var(--subtle-color);
}
/*nav elements */
.nav-logo-studio {
  color: var(--title-text-color);
}

.nav-items {
  font-weight: 500;
  color: var(--title-text-color);
}
.contact {
  font-style: normal;
  color: var(--primary-text-color);
}

/*? hero */

.hero {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  color: var(--hero-text-color);
  background-color: var(--title-text-color);
}

.hidden-title {
}
.hero-btn {
  color: var(--hero-text-color);
  background-color: var(--accent-color);
}
.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--primary-color);
}
/* todo skills */
/* *works */

/* team */
.team {
  background-color: var(--team-color);
}
/* .our-team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;

  text-transform: capitalize;
  color: var(--title-text-color);
} */
/* .team-card-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;

  color: var(--title-text-color);
} */

/* portfolio menu */
.menu-btn {
  color: var(--accent-color);
  background-color: var(--team-color);
}
.menu-btn:focus,
.menu-btn:hover {
  color: var(--hero-text-color);
  background-color: var(--primary-color);
}

/* footer */
.footer {
  background-color: var(--title-text-color);
}
.footer-logo-studio {
  color: var(--team-color);
}
.footer-text {
  color: var(--team-color);
}
